/* Контейнер для бегущей строки */
.announcement-wrapper {
  position: relative;
  width: 100%;
  /* Высота контейнера для строки */
  height: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Основные стили текста бегущей строки */
#announcement-text {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  /* Начальная позиция - справа за границей контейнера */
  transform: translateX(100%);

  /* === Стили для улучшения рендеринга === */
  /* Сообщает браузеру об оптимизации ресурсов перед анимацией*/
  will-change: transform;
  /* Оптимизация для улучшения отображения текста */
  text-rendering: optimizeLegibility;
  /* Сглаживание шрифтов на WebKit-браузерах */
  -webkit-font-smoothing: antialiased;
}

/* Анимация прокрутки текста */
@keyframes scroll-text {
  0% {
    /* Начинаем справа */
    transform: translateX(100%);
  }

  100% {
    /* Уходим за левую границу */
    transform: translateX(-100%);
  }
}