header {
  background-color: rgba(221, 221, 221, 0.005);
  padding: 10px;
  border-radius: 20px;
  border: 3px solid rgba(221, 221, 221, 0.005);
  background-clip: padding-box;
}

  .h-container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  }

      .h-logo img {
        display: block;
        max-width: 100px;
        height: auto;
/*         pointer-events: none; */
      }

        .h-logo img.rotate {
          animation: rotate 5s linear;
        }
        
        @keyframes rotate {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(720deg);
          }
        }

      .h-name h1 {
        font-size: 36px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 0;
      }

        @media screen and (max-width: 575px) {
          .h-logo img {
            width: 42.88px;
          }
          .h-name h1 {
            font-size: 24.12px;
          }
        }

        @media screen and (min-width: 576px) and (max-width: 767px) {
          .h-logo img {
            width: 48.16px;
          }
          .h-name h1 {
            font-size: 27.09px;
          }
        }

        @media screen and (min-width: 768px) and (max-width: 991px) {
          .h-logo img {
            width: 53.44px;
          }
          .h-name h1 {
            font-size: 30.06px;
          }
        }

        @media screen and (min-width: 992px) and (max-width: 1199px) {
          .h-logo img {
            width: 58.78px;
          }
          .h-name h1 {
            font-size: 33.03px;
          }
        }

        @media screen and (min-width: 1200px) {
          .h-logo img {
            width: 64px;
          }
          .h-name h1 {
            font-size: 36px;
          }
        }
