/* ================================
  Глобальные стили
================================ */

body {
  font-family: 'Arimo', sans-serif;
  background: radial-gradient(ellipse, 
  rgba(6, 30, 66, 0.8) 15%, 
  rgba(3, 18, 40, 0.9) 40%, 
  rgba(0, 0, 0, 1) 100%);
background-attachment: fixed; /* Фиксированный фон */
}

/* ================================
  Основные элементы
================================ */

/* Навбар */
#navbar {
  /* Ограничение ширины */
  max-width: 1320px;
  background-color: rgba(15, 15, 15, 0.85);
  /* Анимация при скролле */
  transition: top 0.64s ease;
}

/* Главный контейнер */
.main-container {
  /* Верхний отступ к элементу "<body>" при фиксировании навбара */
  padding-top: 3.75rem;
}

/* Футер */
#footer {
  max-width: 1320px;
  background-color: rgba(15, 15, 15, 0.85);
}

/* ================================
  Кастомные стили
================================ */

/* Прозрачность изображений и т.п. */
.custom-opacity {
  opacity: 0.85;
}