/* БАЗОВАЯ СТРУКТУРА
-------------------------------------------------- */

body {
    /* Шрифт и цвет фона */
    font-family: 'Arimo', sans-serif;
    background-color: rgba(0, 0, 0, 1);

    /* Верхний отступ к элементу <body> 
    */
    padding-top: 4.5rem;

    /* Минимальная высота при закреплении footer 
    */
    min-height: 75rem;
}

/* НАСТРОЙКА КАРУСЕЛИ
-------------------------------------------------- */

/* Позиционирование подписи */
.carousel-caption {
    bottom: 3rem; /* Позиция от низа */
    z-index: 10; /* Индекс слоя */
}

/* фиксированная высота для каждого слайда */
.carousel-item {
    height: 36rem; /* Высота элемента */
}

 /* Размер текста в подписях карусели
-------------------------------------------------- */
@media (min-width: 40em) {
    /* Увеличить размер содержимого карусели */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
}