# Глобальные правила игнорирования для всего проекта (без якоря к корню)

# Скомпилированный вывод (build artifacts)
dist/
node_modules/
build/

# Логи
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Файлы операционной системы
.DS_Store

# Отчеты о тестировании
coverage/
.nyc_output/

# Файлы IDE и редакторов
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Файлы VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Файлы переменных окружения dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Временные директории
.temp/
.tmp/

# Данные времени выполнения
pids/
*.pid
*.seed
*.pid.lock

# Отчеты диагностики Node.js
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
