body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Inter', Arial, sans-serif;
  /* font-family: "Times New Roman", Times, serif; */
  background-color: black;
}

main  {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: rgba(221, 221, 221, 0.005);
  padding: 10px;
  border-radius: 20px;
  border: 3px solid rgba(221, 221, 221, 0.005);
  background-clip: padding-box;
}

.m-container {
  display: grid;
  justify-self: start;
  align-self: end;
  padding: 0 0 10px 5px;
}

.m-home h2 {
  font-size: 30.6px;
  font-weight: 500;
  color: #BB2649;
}

@media screen and (max-width: 575px) {
  .m-home h2 {
    font-size: 20.6px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .m-home h2 {
    font-size: 24.2px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .m-home h2 {
    font-size: 25.5px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .m-home h2 {
    font-size: 27.9px;
  }
}

@media screen and (min-width: 1200px) {
  .m-home h2 {
    font-size: 30.6px;
  }
}

