/* ================================
  Глобальные стили
================================ */

body {
  font-family: 'Arimo', sans-serif;
}

/* ================================
  Основные элементы
================================ */

/* Навбар */
#navbar {
  /* Ограничение ширины */
  background-color: rgba(20, 3, 48, 1);
  /* Анимация при скролле */
  transition: top 0.64s ease;
}

/* Главный контейнер */
.main-container {
  /* Верхний отступ к элементу "<body>" при фиксировании навбара */
  padding-top: 3.75rem;
}

/* Футер */
#footer {
  background-color: rgba(20, 3, 48, 1);
}

/* ================================
  Кастомные стили
================================ */

/* Прозрачность элементов и т.п. */
.custom-opacity {
  opacity: 0.85;
}